ion-menu-button {
  color: var(--ion-color-primary);
}

ion-content {
  --background: #F6F6F7;
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-top: 20px;
  --padding-bottom: 20px;
  
}

ion-header {
  visibility: hidden;
  display: none;
}

ion-card {
  border-radius: 10px;
}
ion-title {
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
}

@media (prefers-color-scheme: dark) {
  ion-content {
    --background: #f6f6f770;    
  }

}

@media only screen and (max-width: 600px) {
  ion-header {
    visibility: visible;
    display: block
  }
}