<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title>{{ folder }}</ion-title>
  <app-dashboard *ngIf="folder=='Dashboard'"></app-dashboard>
      <app-tiendas *ngIf="folder=='Tiendas'"></app-tiendas>
      <app-productos *ngIf="folder=='Productos'"></app-productos>
      <app-portadas *ngIf="folder=='Portadas'"></app-portadas>
      <app-micuenta *ngIf="folder=='Mi Cuenta'"></app-micuenta>
      <app-banners *ngIf="folder=='Banners'"></app-banners>
</ion-content>
