<ion-card>
  <ion-card-header>
    <ion-list>
      <ion-item class="border-input">
        <ion-label>Seleccionar tienda</ion-label>
        <ion-select [(ngModel)]="shopSelect" [interfaceOptions]="shopOptions" interface="alert" placeholder="Seleccionar..." (ionChange)="loadProduct()">
          <ion-select-option value="{{item.id}}" *ngFor="let item of shop">{{item.name}}</ion-select-option>
        </ion-select>        
        <ion-icon name="storefront-outline" slot="start"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row class="filter-group">
        <ion-col size-md="6">
          <ion-item>
            <ion-input
                inputmode="search"
                type="search"
                placeholder="Filtrar productos"
              >
            </ion-input>
            <ion-icon name="search-outline" slot="start"></ion-icon>
          </ion-item>
          
        </ion-col>
        <ion-col size-md="2">
          <ion-item>            
            <ion-select [interfaceOptions]="estadoOptions" interface="alert" placeholder="Estado" name="Estado">
              <ion-select-option value="0">Todos</ion-select-option>
              <ion-select-option value="1">Visible</ion-select-option>
              <ion-select-option value="2">No visible</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size-md="2">
          <ion-item>            
            <ion-select placeholder="Hoja PDF">
              <ion-select-option value="0">Todos</ion-select-option>
              <ion-select-option value="1">Con hoja</ion-select-option>
              <ion-select-option value="2">Sin hoja</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size-md="2">
          <ion-item>
            <ion-select placeholder="Ordenar">
              <ion-select-option value="1">Ascendente</ion-select-option>
              <ion-select-option value="2">Descendente</ion-select-option>
            </ion-select>
            <ion-icon name="repeat-outline" slot="start"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="first-row">
        <ion-col size-md="1" size="12">
          <ion-checkbox color="primary"></ion-checkbox>
        </ion-col>      
        <ion-col size-md="5" size="12">
          Producto
        </ion-col>
        <ion-col size-md="2" size="12">
          Estado
        </ion-col>
        <ion-col size-md="3" size="12">
          Hoja PDF
        </ion-col>
        <ion-col size-md="2" size="12">
          Activar
        </ion-col>
      </ion-row>
      <ion-row class="align-items-center" *ngFor="let item of products">
        <ion-col size-md="1" size="12">
          <ion-checkbox color="primary"></ion-checkbox>
        </ion-col>
        <ion-col size-md="1" size="12">
          <img src="{{item.featured_src}}" class="imgProduct"/>
        </ion-col>
        <ion-col size-md="4" size="12">
          {{item.title}}
        </ion-col>
        <ion-col size-md="2" size="12">
          <div *ngFor="let itemPage of valPage(item.id)">
            <div *ngIf="itemPage.status" class="statusVisible">Visible</div>
            <div *ngIf="!itemPage.status" class="statusNoVisible">No Visible</div>
          </div>
            
            <div *ngIf="valPage(item.id).length == 0" class="statusNoVisible">No Visible</div>
        </ion-col>
        <ion-col size-md="3" size="12">
          <ion-button *ngIf="valPage(item.id).length == 0" type="button" class="green" (click)="presentModal(item)">Cargar página</ion-button>
          <div *ngFor="let itemPage of valPage(item.id)">
            <img src="{{urlImage}}/page/{{itemPage.page}}" class="imgProduct"/>
          </div>
          
        </ion-col>
        <ion-col size-md="1" size="12">
          {{item.title}}
        </ion-col>
      </ion-row>
    </ion-grid>    
  </ion-card-content>
</ion-card>

  

