/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';

ion-button, ion-title {
    letter-spacing: normal;
}

.first-row{
    border-bottom: 1px solid gray;
    margin-bottom: 1rem;
    color: black;
    font-weight: 500;
    font-size: 1rem;
}
.align-items-center{
    align-items: center;
}
ion-button {
    text-transform:none;
}
.green {
    --background: #00835E !important;
    //background: #00835E !important
}
.statusVisible {
    background: #9DECCE;
    border-radius: 50px;
    width: 70%;
    text-align: center;
    padding: 5px;
    color: #000000;
}
.statusNoVisible {
    background: #EC9D9D;
    border-radius: 50px;
    width: 70%;
    text-align: center;
    padding: 5px;
    color: #000000;
}

.filter-group{
    margin-bottom: 1rem;
    ion-item {
        border: solid 1px;
        border-radius: 10px;
    }
}

.mdlShop{
    --width: 80%;
    --height: 80%;
}
.center{
    margin: 5px auto;
}
.mb-1{
    margin-bottom: 10px;
}
.border-input{
    border: solid 1px lightgray;
    border-radius: 10px;
}
@media (prefers-color-scheme: dark){
    .first-row {
        color: #fff
    }
}
